.custom-nav-item{
    color: white;
    border-bottom: 5px solid transparent;
    text-align: center;
    cursor: pointer;
    padding-bottom: 5px;
}

.custom-nav-item:hover{
    color: #0bc2c2;
}

.custom-btn {
    background-image: linear-gradient(45deg, teal, #0bc2c2);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
}

.toggle-button {
    transform: scale(1.8);
    margin-right: 15px;
    display: none;
}

.nav-active {
    border-bottom: 5px solid #0bc2c2;
}

.custom-navbar {
    background-image: linear-gradient(#1a3d5d, #143657);
}

.navbar-brand {
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        margin-left: 15px;
    }
  }